In [ ]:
!pip install numpy
!pip install pandas

In [12]:
import numpy as np
import pandas as pd

In [6]:
N = 1000
X = np.random.random((N,2))*6-3

In [ ]:
print(X[:,0])

In [19]:
pdFrame = pd.read_csv(r'C:\Users\sjmp1s\OneDrive - Aptiv\Documents\Time_Series\machine_learning_examples\airline\international-airline-passengers.csv')

In [36]:
pdFrame['Sales']=pdFrame.iloc[:,1]

In [38]:
pdFrame.drop(pdFrame.columns[1],axis=1,inplace=True)

In [39]:
pdFrame

                                                 Month  Sales
0                                              1949-01  112.0
1                                              1949-02  118.0
2                                              1949-03  132.0
3                                              1949-04  129.0
4                                              1949-05  121.0
..                                                 ...    ...
140                                            1960-09  508.0
141                                            1960-10  461.0
142                                            1960-11  390.0
143                                            1960-12  432.0
144  International airline passengers: monthly tota...    NaN

[145 rows x 2 columns]