In [65]:
import numpy as np
import pandas as pd
from scipy.stats import boxcox
# from scipy.special import boxcox, inv_boxcox

In [2]:
from sklearn.metrics import mean_absolute_percentage_error, \
mean_absolute_error, r2_score,mean_squared_error

In [3]:
df = pd.read_csv(r'/Users/jitendrashirsat/Documents/Time-Series/TimeSeries/Last_Five_years_Lotto.csv'\
                ,index_col='RDate',parse_dates=True)

In [4]:
df.head(5)

,Key_id,First_P,Second_P,Third_P,Fourth_P,Fifth_P,Sixth_P,Result,Total,Product
RDate,,,,,,,,,,
2016-01-02,8302779,10,19,23,28,31,32,Roll,143,121381120
2016-01-06,2383816,2,15,25,43,45,46,Roll,176,66757500
2016-01-09,2173466,2,11,14,28,29,34,Roll,118,8503264
2016-01-13,8169338,10,14,26,37,42,47,Roll,176,265858320
2016-01-16,9502701,14,18,25,27,33,44,Roll,161,246985200

In [5]:
df['TotalPrediction'] = df['Total'].shift(1)

In [6]:
df.head(5)

,Key_id,First_P,Second_P,Third_P,Fourth_P,Fifth_P,Sixth_P,Result,Total,Product,TotalPrediction
RDate,,,,,,,,,,,
2016-01-02,8302779,10,19,23,28,31,32,Roll,143,121381120,NaN
2016-01-06,2383816,2,15,25,43,45,46,Roll,176,66757500,143.0
2016-01-09,2173466,2,11,14,28,29,34,Roll,118,8503264,176.0
2016-01-13,8169338,10,14,26,37,42,47,Roll,176,265858320,118.0
2016-01-16,9502701,14,18,25,27,33,44,Roll,161,246985200,176.0

In [7]:
y_true = df.iloc[1:]['Total']
y_pred = df.iloc[1:]['TotalPrediction']

In [8]:
y_true.head(5)

RDate
2016-01-06    176
2016-01-09    118
2016-01-13    176
2016-01-16    161
2016-01-20    105
Name: Total, dtype: int64

In [9]:
y_pred.head(5)

RDate
2016-01-06    143.0
2016-01-09    176.0
2016-01-13    118.0
2016-01-16    176.0
2016-01-20    161.0
Name: TotalPrediction, dtype: float64

In [10]:
# SSE
(y_true-y_pred).dot(y_true-y_pred)

1328612.0

In [11]:
# MSE
mean_squared_error(y_true,y_pred)

1962.4992614475627

In [12]:
# RMSE
mean_squared_error(y_true,y_pred,squared=False)

44.30010453088754

In [13]:
# MAE
mean_absolute_error(y_true,y_pred)

35.288035450516986

In [14]:
# R^2
r2_score(y_true,y_pred)

-1.033739897117448

In [15]:
# MAPE
mean_absolute_percentage_error(y_true,y_pred)

0.261679992154968

In [16]:
def smape(y_true, y_pred):
    numerator = np.abs(y_true-y_pred)
    denominator = (np.abs(y_true) + np.abs(y_pred))/2
    ratio = numerator/denominator
    return ratio.mean()

In [17]:
smape(y_true,y_pred)

0.24618174076650404

# taking 104 values which is 1 year data

In [18]:
df100 = df[-104:].copy()

In [19]:
df100['TotalPrediction100'] = df100['Total'].shift(1)

In [30]:
df100.tail(5)

,Key_id,First_P,Second_P,Third_P,Fourth_P,Fifth_P,Sixth_P,Result,Total,Product,TotalPrediction,TotalPrediction100
RDate,,,,,,,,,,,,
2022-06-15,6851760,7,23,27,38,46,47,Roll,188,357132132,120.0,120.0
2022-06-18,4455117,4,16,21,27,45,47,Roll,160,76749120,188.0,188.0
2022-06-22,3490698,3,16,20,34,35,37,Roll,145,42268800,160.0,160.0
2022-06-25,1837284,2,6,27,28,41,45,Roll,149,16737840,145.0,145.0
2022-06-29,839715,1,9,17,25,30,31,Roll,113,3557250,149.0,149.0

In [21]:
y_true100 = df100.iloc[1:]['Total']
y_pred100 = df100.iloc[1:]['TotalPrediction100']

In [22]:
# SSE
(y_true100-y_pred100).dot(y_true100-y_pred100)

221373.0

In [23]:
# MSE
mean_squared_error(y_true100,y_pred100)

2149.252427184466

In [24]:
# RMSE
mean_squared_error(y_true100,y_pred100,squared=False)

46.360030491625714

In [25]:
# MAE
mean_absolute_error(y_true100,y_pred100)

37.52427184466019

In [27]:
# R^2
r2_score(y_true100,y_pred100)

-1.4307590212326375

In [28]:
# MAPE
mean_absolute_percentage_error(y_true100,y_pred100)

0.27664629000789964

In [29]:
smape(y_true100,y_pred100)

0.25839056849280945

# taking 25 values which is 1 year data

In [37]:
df25 = df[-25:].copy()

In [38]:
df25['TotalPrediction25'] = df25['Total'].shift(1)

In [39]:
df25.head(5)

,Key_id,First_P,Second_P,Third_P,Fourth_P,Fifth_P,Sixth_P,Result,Total,Product,TotalPrediction,TotalPrediction25
RDate,,,,,,,,,,,,
2022-04-06,9280951,13,19,22,30,32,44,Roll,160,229532160,119.0,NaN
2022-04-09,3953777,4,7,17,24,29,42,Roll,123,13914432,160.0,160.0
2022-04-13,10386786,20,22,32,35,36,40,Roll,185,709632000,123.0,123.0
2022-04-16,8471369,11,13,15,17,30,47,Roll,133,51415650,185.0,185.0
2022-04-20,9034410,12,21,22,25,39,42,Roll,161,227026800,133.0,133.0

In [40]:
y_true25 = df25.iloc[1:]['Total']
y_pred25 = df25.iloc[1:]['TotalPrediction25']

In [41]:
# SSE
(y_true25-y_pred25).dot(y_true25-y_pred25)

39967.0

In [42]:
# MSE
mean_squared_error(y_true25,y_pred25)

1665.2916666666667

In [43]:
# RMSE
mean_squared_error(y_true25,y_pred25,squared=False)

40.80798532967128

In [44]:
# MAE
mean_absolute_error(y_true25,y_pred25)

31.875

In [45]:
# R^2
r2_score(y_true25,y_pred25)

-1.3492093036925281

In [ ]:
# Checking after transforming data to SqRT

In [46]:
df['SqrtTotal'] = np.sqrt(df['Total'])

In [47]:
df['SqrtTotalPrediction'] = df['SqrtTotal'].shift(1)

In [48]:
df.head(5)

,Key_id,First_P,Second_P,Third_P,Fourth_P,Fifth_P,Sixth_P,Result,Total,Product,TotalPrediction,SqrtTotal,SqrtTotalPrediction
RDate,,,,,,,,,,,,,
2016-01-02,8302779,10,19,23,28,31,32,Roll,143,121381120,NaN,11.958261,NaN
2016-01-06,2383816,2,15,25,43,45,46,Roll,176,66757500,143.0,13.266499,11.958261
2016-01-09,2173466,2,11,14,28,29,34,Roll,118,8503264,176.0,10.862780,13.266499
2016-01-13,8169338,10,14,26,37,42,47,Roll,176,265858320,118.0,13.266499,10.862780
2016-01-16,9502701,14,18,25,27,33,44,Roll,161,246985200,176.0,12.688578,13.266499

In [49]:
y_trueSqrt = df.iloc[1:]['SqrtTotal']
y_predSqrt = df.iloc[1:]['SqrtTotalPrediction']

In [50]:
# SSE
(y_trueSqrt-y_predSqrt).dot(y_trueSqrt-y_predSqrt)

2330.3243510711923

In [51]:
# MSE
mean_squared_error(y_trueSqrt,y_predSqrt)

3.442133458007669

In [52]:
# RMSE
mean_squared_error(y_trueSqrt,y_predSqrt,squared=False)

1.8552987516860104

In [53]:
# MAE
mean_absolute_error(y_trueSqrt,y_predSqrt)

1.4786540346243815

In [54]:
# R^2
r2_score(y_trueSqrt,y_predSqrt)

-1.039615471904193

# below is for BoxCox of Product

In [58]:
data , lam = boxcox(df['Product'])
df['BoxCoxProduct'] = data

In [66]:
lam

0.04902427257987969

In [59]:
df['BoxCoxProductPrediction'] = df['BoxCoxProduct'].shift(1)

In [60]:
y_trueProduct = df.iloc[1:]['BoxCoxProduct']
y_predProduct = df.iloc[1:]['BoxCoxProductPrediction']

In [61]:
# SSE
(y_trueProduct-y_predProduct).dot(y_trueProduct-y_predProduct)

28390.960644343737

In [62]:
# R^2
r2_score(y_trueProduct,y_predProduct)

-0.9365079383131651

In [67]:
df.head(10)

,Key_id,First_P,Second_P,Third_P,Fourth_P,Fifth_P,Sixth_P,Result,Total,Product,TotalPrediction,SqrtTotal,SqrtTotalPrediction,BoxCoxProduct,BoxCoxProductPrediction
RDate,,,,,,,,,,,,,,,
2016-01-02,8302779,10,19,23,28,31,32,Roll,143,121381120,NaN,11.958261,NaN,30.407177,NaN
2016-01-06,2383816,2,15,25,43,45,46,Roll,176,66757500,143.0,13.266499,11.958261,28.939683,30.407177
2016-01-09,2173466,2,11,14,28,29,34,Roll,118,8503264,176.0,10.862780,13.266499,24.199053,28.939683
2016-01-13,8169338,10,14,26,37,42,47,Roll,176,265858320,118.0,13.266499,10.862780,32.397962,24.199053
2016-01-16,9502701,14,18,25,27,33,44,Roll,161,246985200,176.0,12.688578,13.266499,32.207717,32.397962
2016-01-20,2899486,3,6,17,23,27,29,Roll,105,5510754,161.0,10.246951,12.688578,23.260742,32.207717
2016-01-23,8038497,10,12,13,19,43,45,Won,142,57353400,105.0,11.916375,10.246951,28.573797,23.260742
2016-01-27,5519922,6,7,11,17,23,33,Roll,97,5961186,142.0,9.848858,11.916375,23.429229,28.573797
2016-01-30,10473964,21,25,26,28,33,47,Roll,180,592792200,97.0,13.416408,9.848858,34.514794,23.429229
2016-02-03,310809,1,4,7,14,15,42,Roll,83,246960,180.0,9.110434,13.416408,17.095653,34.514794