In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.metrics import mean_absolute_percentage_error, \
mean_absolute_error, r2_score,mean_squared_error

In [3]:
df = pd.read_csv(r'/Users/jitendrashirsat/Documents/Time-Series/TimeSeries/Last_Five_years_Lotto.csv'\
                ,index_col='RDate',parse_dates=True)

In [4]:
df.head(5)

,Key_id,First_P,Second_P,Third_P,Fourth_P,Fifth_P,Sixth_P,Result,Total,Product
RDate,,,,,,,,,,
2016-01-02,8302779,10,19,23,28,31,32,Roll,143,121381120
2016-01-06,2383816,2,15,25,43,45,46,Roll,176,66757500
2016-01-09,2173466,2,11,14,28,29,34,Roll,118,8503264
2016-01-13,8169338,10,14,26,37,42,47,Roll,176,265858320
2016-01-16,9502701,14,18,25,27,33,44,Roll,161,246985200

In [5]:
df['TotalPrediction'] = df['Total'].shift(1)

In [6]:
df.head(5)

,Key_id,First_P,Second_P,Third_P,Fourth_P,Fifth_P,Sixth_P,Result,Total,Product,TotalPrediction
RDate,,,,,,,,,,,
2016-01-02,8302779,10,19,23,28,31,32,Roll,143,121381120,NaN
2016-01-06,2383816,2,15,25,43,45,46,Roll,176,66757500,143.0
2016-01-09,2173466,2,11,14,28,29,34,Roll,118,8503264,176.0
2016-01-13,8169338,10,14,26,37,42,47,Roll,176,265858320,118.0
2016-01-16,9502701,14,18,25,27,33,44,Roll,161,246985200,176.0