In [1]:
import numpy as np
import pandas as pd

In [ ]:
!pip install -U scikit-learn

In [3]:
from sklearn.metrics import mean_absolute_percentage_error, \
mean_absolute_error, r2_score,mean_squared_error

In [4]:
df = pd.read_csv(r'C:\Users\sjmp1s\OneDrive - Aptiv\Documents\Time_Series\Lessons\SPY.csv',\
                index_col='Date',parse_dates=True)

In [5]:
df.head(4)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,112.370003,113.389999,111.510002,113.330002,92.246048,118944600
2010-01-05,113.260002,113.680000,112.849998,113.629997,92.490204,111579900
2010-01-06,113.519997,113.989998,113.430000,113.709999,92.555328,116074400
2010-01-07,113.500000,114.330002,113.180000,114.190002,92.946060,131091100

In [6]:
df['ClosePrediction'] = df['Close'].shift(1)

In [8]:
df.head(8)

,Open,High,Low,Close,Adj Close,Volume,ClosePrediction
Date,,,,,,,
2010-01-04,112.370003,113.389999,111.510002,113.330002,92.246048,118944600,NaN
2010-01-05,113.260002,113.680000,112.849998,113.629997,92.490204,111579900,113.330002
2010-01-06,113.519997,113.989998,113.430000,113.709999,92.555328,116074400,113.629997
2010-01-07,113.500000,114.330002,113.180000,114.190002,92.946060,131091100,113.709999
2010-01-08,113.889999,114.620003,113.660004,114.570000,93.255348,126402800,114.190002
2010-01-11,115.080002,115.129997,114.239998,114.730003,93.385582,106375700,114.570000
2010-01-12,113.970001,114.209999,113.220001,113.660004,92.514610,163333500,114.730003
2010-01-13,113.949997,114.940002,113.370003,114.620003,93.296059,161822000,113.660004

In [9]:
y_true = df.iloc[1:]['Close']
y_pred = df.iloc[1:]['ClosePrediction']

In [11]:
y_true.head(5)

Date
2010-01-05    113.629997
2010-01-06    113.709999
2010-01-07    114.190002
2010-01-08    114.570000
2010-01-11    114.730003
Name: Close, dtype: float64

In [12]:
y_pred.head(5)

Date
2010-01-05    113.330002
2010-01-06    113.629997
2010-01-07    113.709999
2010-01-08    114.190002
2010-01-11    114.570000
Name: ClosePrediction, dtype: float64

In [17]:
# SSE
(y_true-y_pred).dot(y_true-y_pred)

6330.3742894926045

In [18]:
# MSE
mean_squared_error(y_true,y_pred)

2.798573956451196

In [19]:
# RMSE
mean_squared_error(y_true,y_pred,squared=False)

1.672893886787562

In [20]:
# MAE
mean_absolute_error(y_true,y_pred)

1.1457559803120336

In [21]:
# R^2
r2_score(y_true,y_pred)

0.9989603259063914

In [22]:
# MAPE
mean_absolute_percentage_error(y_true,y_pred)

0.006494073151422373

sMAPE

Look at sympy to put in the nice looking formula

In [23]:
def smape(y_true, y_pred):
    numerator = np.abs(y_true-y_pred)
    denominator = (np.abs(y_true) + np.abs(y_pred))/2
    ratio = numerator/denominator
    return ratio.mean()

In [24]:
smape(y_true,y_pred)

0.006491365814068417