In [2]:
import numpy as np
import pandas as pd

In [3]:
from sklearn.metrics import mean_absolute_percentage_error, \
mean_absolute_error, r2_score,mean_squared_error

In [4]:
df = pd.read_csv(r'/Users/jitendrashirsat/Documents/Time-Series/TimeSeries/Last_Five_years_Lotto.csv'\
                ,index_col='RDate',parse_dates=True)

In [5]:
df.head(5)

,Key_id,First_P,Second_P,Third_P,Fourth_P,Fifth_P,Sixth_P,Result,Total,Product
RDate,,,,,,,,,,
2016-01-02,8302779,10,19,23,28,31,32,Roll,143,121381120
2016-01-06,2383816,2,15,25,43,45,46,Roll,176,66757500
2016-01-09,2173466,2,11,14,28,29,34,Roll,118,8503264
2016-01-13,8169338,10,14,26,37,42,47,Roll,176,265858320
2016-01-16,9502701,14,18,25,27,33,44,Roll,161,246985200

In [6]:
df['TotalPrediction'] = df['Total'].shift(1)

In [7]:
df.head(5)

,Key_id,First_P,Second_P,Third_P,Fourth_P,Fifth_P,Sixth_P,Result,Total,Product,TotalPrediction
RDate,,,,,,,,,,,
2016-01-02,8302779,10,19,23,28,31,32,Roll,143,121381120,NaN
2016-01-06,2383816,2,15,25,43,45,46,Roll,176,66757500,143.0
2016-01-09,2173466,2,11,14,28,29,34,Roll,118,8503264,176.0
2016-01-13,8169338,10,14,26,37,42,47,Roll,176,265858320,118.0
2016-01-16,9502701,14,18,25,27,33,44,Roll,161,246985200,176.0

In [8]:
y_true = df.iloc[1:]['Total']
y_pred = df.iloc[1:]['TotalPrediction']

In [9]:
y_true.head(5)

RDate
2016-01-06    176
2016-01-09    118
2016-01-13    176
2016-01-16    161
2016-01-20    105
Name: Total, dtype: int64

In [10]:
y_pred.head(5)

RDate
2016-01-06    143.0
2016-01-09    176.0
2016-01-13    118.0
2016-01-16    176.0
2016-01-20    161.0
Name: TotalPrediction, dtype: float64

In [11]:
# SSE
(y_true-y_pred).dot(y_true-y_pred)

1328612.0

In [12]:
# MSE
mean_squared_error(y_true,y_pred)

1962.4992614475627

In [13]:
# RMSE
mean_squared_error(y_true,y_pred,squared=False)

44.30010453088754

In [14]:
# MAE
mean_absolute_error(y_true,y_pred)

35.288035450516986

In [15]:
# R^2
r2_score(y_true,y_pred)

-1.033739897117448

In [16]:
# MAPE
mean_absolute_percentage_error(y_true,y_pred)

0.261679992154968

In [17]:
def smape(y_true, y_pred):
    numerator = np.abs(y_true-y_pred)
    denominator = (np.abs(y_true) + np.abs(y_pred))/2
    ratio = numerator/denominator
    return ratio.mean()

In [18]:
smape(y_true,y_pred)

0.24618174076650404